body {
    font-family: 'Noto Sans Telugu';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    height: 100vh;
    color: #c8291a;
    text-align: center; /* Center text inside body */
    overflow: hidden; /* Prevent scrolling */
    background-image: url("https://i.pinimg.com/474x/f4/a3/7a/f4a37a2f66ba97dcaa11ac9d935ec8fd.jpg");
    background-repeat: repeat;
    background-position: center; /* Center the image */
}

h1{
    font-family: 'Playfair Display';
    font-weight: 200;
}

h2 {
    font-family: 'Playfair Display';
    font-weight: 200;
}

button, p, input {
    font-family: 'PT Serif';
}

#quiz-container{
    background-color: #f7f2df; /* Solid background for the container */
    flex-direction: column; /* Stack input and button vertically */
    align-items: center; /* Center input and button horizontally */
    width: 80%; /* Set width as a percentage of the screen */
    max-width: 500px; /* Optional: Ensure a max-width for large screens */
    padding: 20px; /* Optional: Padding for spacing */
    box-sizing: border-box; /* Make sure padding doesn't affect width */
    border-radius: 10px; /* Optional: Rounded corners for the container */
}

input[type="text"] {
    padding: 10px;
    /* margin-top: 10px; */
    width: 100%; /* Ensure the input takes the full width of its container */
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in width */
    word-wrap: break-word; /* Ensure long words break and wrap */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fba114;
    color: #f7f2df;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ensure the button takes the full width of its container */
    box-sizing: border-box; /* Include padding and border in width */
}

button:hover {
    background-color: #db8a08;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
    word-wrap: break-word; /* Ensure feedback text wraps instead of overflowing */
}

#results-container {
    background-color: #f7f2df; /* Solid background for the container */
    max-width: 200px;
    text-align: center;
    word-wrap: break-word; /* Ensure results wrap instead of expanding */
    /* width: 100%; Make sure the results container takes up the full width */
    max-width: 600px; /* Optional: Set a max-width for consistency */
    margin-top: 20px;
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}
